<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/63ff1a6d-d3c8-4276-9b6b-a4ab64ff83b2/resourcegroups/GRW1/providers/Microsoft.Web/sites/BlogsWebApi20250425183005</ResourceId>
    <ResourceGroup>GRW1</ResourceGroup>
    <ApiResourceId>/subscriptions/63ff1a6d-d3c8-4276-9b6b-a4ab64ff83b2/resourceGroups/GRW1/providers/Microsoft.ApiManagement/service/BlogsWebApiapi/apis/BlogsWebApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://blogswebapi20250425183005.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>826ae9ff-fce2-48fd-941f-cfc89908813a</ProjectGuid>
    <MSDeployServiceURL>blogswebapi20250425183005.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BlogsWebApi20250425183005</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$BlogsWebApi20250425183005</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>